body {
  font-family: "PT Sans", "FontAwesome 5 free", sans-serif;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

nav {
  height: 70px;
  background-color: #fff;
  border-bottom: 1px groove #EBEBEB;
}

nav a img {
  height: 30px;
}

nav input {
  height: 40px;
  background-color: #EBEBEB !important;
  width: 45% !important;
}

nav a {
  padding: 6px 12px;
  height: 40px;
}

nav a i {
  color: #00ccbc;
}

nav .btn-light {
  background-color: #EBEBEB;
}

nav .btn-light:focus {
  border-color: #00ccbc;
  box-shadow: 0 0 0 0.25rem #00ccbc;
}

nav .btn-price {
  margin-right: 20px;
}

nav .hamburger {
  display: none;
}

.form-control {
  width: unset;
}

.form-control:focus {
  border-color: #00ccbc;
  box-shadow: 0 0 0 0.25rem #00ccbc;
}

.menu {
  background-color: #00ccbc;
  color: #fff;
}

.menu ul {
  margin: 15px;
}

.menu ul input {
  display: inline-block;
}

.menu ul input .menu-form {
  width: 200px !important;
  background-color: #EBEBEB;
  margin: 15px;
}

.menu ul a {
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
}

@media (max-width: 768px) {
  nav .nav_btn {
    display: none;
  }

  nav .nav-form {
    display: none;
  }

  nav .hamburger {
    display: flex !important;
    font-size: 1.3rem;
    color: #00ccbc;
  }
}

footer {
  background-color: #2E3333;
  color: #fff;
}

footer .footer-card {
  width: 310px;
  height: 250px;
  padding: 25px;
  margin: 20px 10px;
  background-color: #434848;
}

footer .footer-card ul li a {
  text-decoration: none;
  color: #fff;
}

footer .footer-card ul li a:hover {
  color: #00ccbc;
}

footer .footer-card ul li a img {
  height: 60px;
}

footer .footer-card ul li a .app-store {
  margin-left: -18px;
}

footer .footer-card ul li a .play-store {
  margin-left: -11px;
}

footer .footer-data {
  padding-bottom: 30px;
}

footer .footer-data .social i {
  font-size: 2rem;
  margin-right: 8px;
  margin-top: 5px;
  cursor: pointer;
}

footer .footer-data .social i:first-of-type:hover {
  color: #4867AA;
}

footer .footer-data .social i:nth-child(2):hover {
  color: #00B0E9;
}

footer .footer-data .social i:last-of-type:hover {
  color: #AD3EB1;
}

footer .footer-data .credits span {
  color: #434848;
}

.desk_dash {
  height: vh;
  max-width: 300px;
  background-color: #F5F7FA;
}

.desk_dash ul {
  position: fixed;
  top: 60px;
  left: 20px;
}

.mob_dash {
  height: vh;
  width: 50px;
}

.mob_dash ul {
  position: fixed;
  top: 60px;
  left: 20px;
}

.dashboard .card {
  width: 200px;
  margin: 10px;
}

.dashboard .stat-data {
  width: 100%;
  height: 600px;
  background-color: #F5F7FA;
  margin: 22px;
  border-radius: 5px;
}

.orders-list {
  margin-left: 5px;
}

.orders-list h3 {
  margin-bottom: 20px;
}

.orders-list ul li {
  display: inline;
  padding: 0;
}

.orders-list .card {
  padding-top: 4px;
  width: 100%;
}

.orders-list .card-body ul li:not(:last-child)::after {
  content: " | ";
}

.order-details {
  margin-left: 50px;
}

.category {
  height: 100px;
  width: 200px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-image: url("https://co-restaurants.roocdn.com/images/7ad71ac1a9374b26bd749b9c365f14c6eb8b28c5/shortcut/sushi-1.png?width=334.00000497698784&amp;height=176.00000262260437&amp;fit=crop&amp;bg-color=00ccbc&amp;auto=webp&amp;format=png");
  background-size: 100% 100%;
  position: relative;
}

.category-name {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 0.5rem;
}

.restaurant {
  height: 250px;
  margin: 1rem;
}

.food {
  width: 100%;
  height: 100px;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.food > .price {
  position: absolute;
  right: 0;
  margin-right: 0.5rem;
}

img.img-restaurant {
  width: 100%;
}

