body{
    font-family: 'PT Sans', 'FontAwesome 5 free', sans-serif;
    ;
}

.p-relative{
    position: relative;
}

.p-absolute{
    position: absolute;
}

a {
    color:inherit;
}

main {
    padding-top: 2rem; 
    padding-bottom: 2rem;
    min-height: calc(100vh - 430px);
}

button {
    margin-bottom: 1rem;
}